.container {
border-color: #007bff; 

}

.small {
    margin-bottom: 20px;
    color: #FF8400;
    text-align: left;
    /* Align text to the left */
}

.heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4B456F;
    text-align: left;
    /* Align text to the left */
}

.paragraph {
    font-size: 1.1em;
    text-align: left;
    /* Align text to the left */
    max-width: 600px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.816)
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.link {
    color: #fff;
    text-decoration: none;
}